{%  extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h2>Top Stock Images with Animals</h2>
        {% include "::home/best-in-category.html.twig" with { 'images': animals}%}

    </div>

    <div class="row">
        <h2>Top Stock Images with Houses</h2>
        {% include "::home/best-in-category.html.twig" with { 'images': houses}%}


    </div>

    <div class="row">
        <h2>Top Stock Images with Nature</h2>
        {% include "::home/best-in-category.html.twig" with { 'images': nature}%}


    </div>

    <div class="row">

        <h2>Random Images</h2>

        {% for image in randomised_images %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="/images/{{ image }}" alt="...">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}